.App {
  text-align: center;
  background-image: url('https://cdnroute.bpsgameserver.com/common/Common/Common/neutral/image/2017/03/game.netentBlackjack3Hand.backgroundimage_v3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blackjeck-game{
  height: max-content;
  width: max-content;
  margin: auto;
  align-self: center;
}

.title{
  position: absolute;
  inline-size: -webkit-fill-available;
  color:red;
  text-shadow: 1px 1px yellowgreen;
}

.color-Shadow{
  color:red;
  text-shadow: 1px 1px yellowgreen;
}